<div ng-controller="HomeController as vm">
	<div ng-repeat = "car in vm.gimmiecars">
		<div class = "well container center">
			<h1>the home is rendering</h1>
			<h2>{{car.title}}</h2>
			<h2>{{car.make}}</h2>
			<h2>{{car.model}}</h2>
			<h2>{{car.year}}</h2>
			<h2>{{car.cupholders}}</h2>
			<h2><img src={{car.image}}></h2>
			<button class = "btn btn-warning" ui-sref="EditCar({id: car.id})">Edit</button>
			<button class = "btn btn-danger" ng-click="vm.deleteCar(car.id)"> Delete</button>
		</div>
	</div>
</div>