<div ng-controller="editCarController as vm">
	<br />
	<form class="well container" ng-submit="vm.editCar()"/>
	<div class="form-group">
		<label for="">Make</label>
		<input class="form-control" placeholder="Make..." ng-model="vm.car.make">
	</div>
	<div class="form-group">
		<label for="">Model</label>
		<input class="form-control" placeholder="Model..." ng-model="vm.car.model">
	</div>
	<div class="form-group">
		<label for="">Year</label>
		<input class="form-control" placeholder="Color..." ng-model="vm.car.year">
	</div>
	<div class="form-group">
		<label for="">Cupholders</label>
		<input class="form-control" placeholder="Color..." ng-model="vm.car.cupholders">
	</div>
	<div class="form-group">
		<label for="">Image</label>
		<input class="form-control" placeholder="Color..." ng-model="vm.car.image">
	</div>
	<div class="center">
		<button type="submit" class="btn btn-lg btn-info center">Submit</button>
	</div>
</form>
</div>